<div id="content" class="container fill">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 first-sectionOn">
            <form #changePasswordForm="ngForm" (ngSubmit)="onChangePassword($event)" autocomplete="false">
                <img src="/app/images/logo-laz-parking.png" class="center-block">

                <p class="help-block text-center" style="font-size:24px;margin-top: 60px;" *ngIf="!condition">{{translationService.translate('Please enter your email and new password')}}<a href="#">{{translationService.translate('here')}} </a>{{translationService.translate('to contact us.')}} </p>

                <div *ngIf="!condition" class="text-center form-group text1" [ngClass]="{ 'has-error' : !emailField.valid && emailField.dirty, 'has-error' : !emailField.valid && emailField.touched  }" >
                    <input #emailField="ngModel" [(ngModel)]="email" class="Rectangle-1205 form-control" type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="{{translationService.translate('Enter Email Address')}}" name="email" id="email" required (keyup)="messageShow=false" />
                    <p class="help-block error" *ngIf="emailField.errors?.required && emailField.touched">{{translationService.translate('*Email cannot be blank')}}</p>
                    <p class="help-block" *ngIf="emailField.errors?.pattern && emailField.touched">{{translationService.translate('*Must be a valid email address')}}</p>
                </div>
                
                <div *ngIf="!condition" class="text-center form-group text1" [ngClass]="{ 'has-error' : !passwordField.valid && passwordField.dirty, 'has-error' : !passwordField.valid && passwordField.touched }" >
                    <input class="Rectangle-1205_Copy form-control" type="password" name="password" id="password" [(ngModel)]="password" #passwordField="ngModel" validatePassword="confirmPassword" reverse="true" pattern="(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$" maxlength="20" minlength="8" required placeholder="{{translationService.translate('New Password')}}"/>
                    <p class="help-block" *ngIf="passwordField.errors?.required && passwordField.touched">{{translationService.translate('*Password cannot be Blank')}}</p>
                    <p class="help-block" *ngIf="passwordField.errors?.minlength && passwordField.touched || passwordField.errors?.maxlength && passwordField.touched">{{translationService.translate('Password must be')}}</p>
                    <p class="help-block" *ngIf="passwordField.errors?.pattern && passwordField.touched">{{translationService.translate('Password should contain')}}</p>
                </div>
                
                <div *ngIf="!condition" class="text-center form-group text1" [ngClass]="{ 'has-error' : !confirmPasswordField.valid && confirmPasswordField.dirty, 'has-error' : !confirmPasswordField.valid && confirmPasswordField.touched  }" >
                    <input class="Rectangle-1205_Copy form-control" type="password" name="confirmPassword" id="confirmPassword" [(ngModel)]="confirmPassword" #confirmPasswordField="ngModel" validatePassword="password" maxlength="20" required  placeholder="{{translationService.translate('Confirm Password')}}" />
                    <p class="help-block" *ngIf="confirmPasswordField.errors?.required && confirmPasswordField.touched">{{translationService.translate('*Password cannot be Blank')}}</p>
                    <p class="help-block" *ngIf="!confirmPasswordField.valid && confirmPasswordField.touched">{{translationService.translate('Password mismatch')}}</p>
                    
                </div>
                <div class="text-center SUCCESS-chgPass" *ngIf="condition">
                    <p> {{translationService.translate('Success! Your Password has been reset. Please Login.')}}</p>
                </div>
                <div class="Not-a-Member-Activa center-block" *ngIf="condition">
                    <a class="text-style-1" routerLink="/login" routerLinkActive="active">{{translationService.translate('Sign in')}}</a>
                </div>
                <div class="text-center form-group" *ngIf="messageShow">
                    <div class="text-center"><h5 style="color:red">{{translationService.translate(message)}}</h5></div>
                </div>
                <div class="text-center form-group" *ngIf="!condition">
                    <button type="submit" class="Rectangle-13-Login form-control" [disabled]="!changePasswordForm.valid"><p class="center-block LOG-IN">{{translationService.translate('RESET PASSWORD')}}</p></button>
                </div>
            </form>
        </div>
    </div>
</div>
<div style="margin-top:55px;margin-left: 20px;">&copy; 2017 LAZ Health Inc. All Rights Reserved</div>
<div class="footer">
    <div class="col-lg-12 col-md-12 col-sm-12 Rectangle-4-Copy"></div>
</div>
