
body {
  margin: 0 0 0;
  min-width: 1200px;
  font-family: 'Roboto', sans-serif; }

.admin-portal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 1200px;
  min-height: 900px; }
  
  .admin-portal .header {
    position:fixed;
    z-index:20;
    top: 0;
    left: 0;
    right: 0;
    height: 75px;
    background-color: #004C93; }
    .admin-portal .header .logo {
      background-image: url(../images/logo-laz-parking.png);
      background-size: 100%;
      background-repeat: no-repeat;
      height: 57px;
      width:116px;
      margin: 10px 0 0 35px; }
    .admin-portal .header .controls {
      position: absolute;
      right: 30px;
      top: 0;
      bottom: 0; }
      .admin-portal .header .controls .label {
        color: #4a7dbf; }
        .admin-portal .header .controls .label:hover {
          color: #fff; }
      .admin-portal .header .controls > * {
        vertical-align: middle;
        cursor: pointer;
        width: 80px;
        color: #4a7dbf;
        display: inline-block;
        text-align: center;
        padding: 12px 0 0 0;
        margin: 0 10px 0 10px; }
        .admin-portal .header .controls > *:hover {
          color: #fff; }
      .admin-portal .header .controls .search {
        width: 175px;
        margin: 0 40px 0 0; }
        .admin-portal .header .controls .search:hover {
          color: #497cbd; }
        .admin-portal .header .controls .search .input {
          position: relative; }
        .admin-portal .header .controls .search .fa {
          position: absolute;
          top: 10px;
          right: -10px;
          font-size: 16px;
          font-weight: 600; }
        .admin-portal .header .controls .search input {
          width: 192px;
          border: none;
          height: 35px;
          background-color: #ebf2fa;
          color: #497cbd;
          font-size: 13px;
          font-style: italic;
          padding: 0 25px 0 10px; }
          .admin-portal .header .controls .search input::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: #497cbd; }
          .admin-portal .header .controls .search input::-moz-placeholder {
            /* Firefox 19+ */
            color: #497cbd; }
          .admin-portal .header .controls .search input:-ms-input-placeholder {
            /* IE 10+ */
            color: #497cbd; }
          .admin-portal .header .controls .search input:-moz-placeholder {
            /* Firefox 18- */
            color: #497cbd; }
      .admin-portal .header .controls .fa {
        font-size: 28px; }
      .admin-portal .header .controls .label {
        font-size: 14px;
        margin: 5px 0 0 0; }
  .admin-portal .body {
    position:absolute;
    top: 75px;
    bottom: 0;
    left: 0;
    right: 0; }
    .admin-portal .body .main {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      z-index:5;
      left: 195px; }
  .admin-portal .sidebar {
    position: fixed;
    top: 75px;
    bottom: 0;
    z-index:20;
    left: 0;
    width: 195px;
    background-color: #004C93; }
    .admin-portal .sidebar .menu-item {
      position: relative;
      min-height: 60px; }

    .admin-portal .sidebar .menu-item > span {
        display: block;
        padding: 20px 38px 20px 38px;
        font-size: 18px;
        color: #FFF;
        min-height: 40px;
        cursor: pointer;
        font-weight: lighter; 
    }

    .admin-portal .sidebar .menu-item > span > a{
        display: block;
        font-size: 18px;
        color: #FFF;
        cursor: pointer;
        font-weight: lighter; 
    }

      .admin-portal .sidebar .menu-item > span > a.selected{
        display: block;
        font-size: 18px;
        color: gray;
        cursor: pointer;
        font-weight: lighter; 
    }

      .admin-portal .sidebar .menu-item:after {
        position: absolute;
        content: "";
        display: block;
        height: 1px;
        background-color: #3867a4;
        bottom: 0;
        right: 19.5px;
        left: 19.5px; }
      .admin-portal .sidebar .menu-item:hover {
        background-color: #4a7dbf; }
      .admin-portal .sidebar .menu-item.active:after {
        display: none; }
      .admin-portal .sidebar .menu-item.active > span {
        background-color: #3867a4; }
      .admin-portal .sidebar .menu-item .details {
        background-color: #1A3D6F;
        min-height: 60px;
        -webkit-box-shadow: inset 0px 10px 5px -10px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: inset 0px 10px 5px -10px rgba(0, 0, 0, 0.75);
        box-shadow: inset 0px 10px 5px -10px rgba(0, 0, 0, 0.75);
        cursor: pointer;
        border-bottom: 1px solid #182b56; }
        .admin-portal .sidebar .menu-item .details > div {
          padding: 20px 10px 0 45px; }
          .admin-portal .sidebar .menu-item .details > div:last-child {
            padding-bottom: 20px; }
        .admin-portal .sidebar .menu-item .details .label {
          color: #3867a4;
          font-size: 12px; }
        .admin-portal .sidebar .menu-item .details .name {
          padding: 5px 0;
          color: #FFF;
          font-size: 14px; }






/************************************************************************************/

input[type=text] {
  min-width: 100px;
  min-height: 35px; }

select {
  min-width: 100px;
  height: 35px; }



.first-section img {
    width: 255px;
    height: 96px;
}

.Rectangle-1205 {
    width: 100%;
    height: 74.3px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #ced1d2;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 81px;
}

.coach-center {
    max-width: 616px;
    max-height: 643px;
}


.Rectangle-13-Login {
    font-size: 26px;
    font-weight: 300;
    width: 100%;
    height: 74.3px;
    border-radius: 2px;
    background-color: #00a7f7;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    float: none;
}

.Rectangle-1205_Copy {
    width: 100%;
    height: 74.3px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #ced1d2;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Spinner 
    ========================================================================= */

.spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1600;
    background-color: #fffbfb;
    opacity: .75;
    margin-left: auto;
    margin-right: auto;
}
.spinner-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -1rem;
    /* -1 * image width / 2 */
    
    margin-top: -1rem;
    /* -1 * image height / 2 */
    
    display: block;
}
.spinner-message {
    width: 100%;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
}






.borderTable {
    border: #204D74 10px solid
}

.tabButton {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.ui-growl {
    z-index:50;
    margin-top:60px
 }


.dashboard-tiles {
    margin: 40px;
}

.dashboard-tiles > div {
        cursor: pointer;
        display: inline-block;
        height: 100px;
        line-height: 100px;
        width: 235px;
        text-align: center;
        background-color: #dddddd;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        margin: 20px;
}

.dashboard-tiles > div:hover {
            background-color: #ced2d2;
}
