<p-growl [value]="msgs"></p-growl>
<div class="col-md-12">
    <div *ngIf="!addingLocation">
        <h2><strong>Alerts</strong></h2>
        <table class="table-condensed table-striped table-bordered col-md-6 col-sm-12">
            <tr>
                <td>Alerted On</td><td>{{alert?.alertDateTime | moment: 'utc' |  moment: 'format': 'MM/DD/YYYY hh:mm A'  }}</td>
            </tr>
            <tr>
                <td>Rule Type</td>
                <td>{{alert?.ruleType.description}}</td>
            </tr>
            <tr>
                <td>Alerted On</td>
                <td>{{alert?.alertDateTime | moment: 'utc' |  moment: 'format': 'MM/DD/YYYY hh:mm A'  }}</td>
            </tr>
            <tr>
                <td>Location ID</td>
                <td>{{alert?.locationID}}</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>{{alert?.name}}</td>
            </tr>
            <tr>
                <td>Region</td>
                <td>{{alert?.region}}</td>
            </tr>
            <tr>
                <td>Contact Name</td>
                <td>{{alert?.contactName}}</td>
            </tr>
            <tr>
                <td>Contact Email</td>
                <td>{{alert?.contactEmail}}</td>
            </tr>
            <tr>
                <td>Contact Phone</td>
                <td>{{alert?.contactPhone}}</td>
            </tr>
        </table>
        <div class="col-md-6 col-sm-12" style="background-color:#F9F9F9">
            <strong class="lead">Detail:</strong><br /><br />
            <strong>{{alert?.detail}}</strong>
            {{alert?.detailedSummary}}
        </div>
        <div class="clearfix">&nbsp;</div>
        <br /><br />
        <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>
        <button class="btn btn-secondary" (click)="addLocation()">Add Location</button>&nbsp;
        <button class="btn btn-secondary" (click)="deleteLocation()">Delete Location</button>&nbsp;
        <button class="btn btn-secondary" *ngIf="alert?.ruleType.ruleTypeID == 3" (click)="markTerminated()">Mark Location Terminated</button>
    </div>
    <div *ngIf="addingLocation">
        <h2>Add Location</h2>
        <form #myForm="ngForm" (ngSubmit)="onAddLocation($event)" autocomplete="false">
            <div class="form-group col-md-6">
                <label for="name">Name *</label>
                <input required type="text" class="form-control" name="name" id="name" placeholder="Name" [(ngModel)]="newLocation.name">
            </div>
            <div class="form-group col-md-6">
                <label for="address1">Address *</label>
                <input required type="text" class="form-control" name="address1" id="address1" placeholder="Address" [(ngModel)]="newLocation.address1">
            </div>
            <div class="form-group col-md-6">
                <label for="city">City *</label>
                <input required type="text" class="form-control" name="city" id="city" placeholder="City" [(ngModel)]="newLocation.city">
            </div>
            <div class="form-group col-md-6">
                <label for="state">State *</label>
                <p-dropdown placeholder="Select a state" name="state" [required]="true" [options]="states" [filter]="true" [(ngModel)]="newLocation.state"></p-dropdown>
            </div>
            <div class="form-group col-md-6">
                <label for="zip">Zip *</label>
                <input required type="text" class="form-control" name="zip" id="zip" placeholder="Zip" [(ngModel)]="newLocation.zip">
            </div>
            <div class="form-group col-md-6">
                <label for="region">Region</label>
                <p-dropdown placeholder="Select region" name="region" [required]="true" [options]="regions" [filter]="true" [(ngModel)]="newLocation.regionID"></p-dropdown>
            </div>
            <div class="form-group col-md-6">
                <label for="corpName">Corp Name</label>
                <input type="text" class="form-control" name="corpName" id="corpName" placeholder="Corp Name" [(ngModel)]="newLocation.corpName">
            </div>
            <div class="form-group col-md-6">
                <label for="contactName">Contact Name *</label>
                <input required type="text" class="form-control" name="contactName" id="contactName" placeholder="Contact Name" [(ngModel)]="newLocation.contactName">
            </div>
            <div class="form-group col-md-6">
                <label for="abaNum">ABA #</label>
                <input type="text" class="form-control" name="abaNum" id="abaNum" placeholder="ABA #" [(ngModel)]="newLocation.abaNo">
            </div>
            <div class="form-group col-md-6">
                <label for="merchantID">Merchant ID</label>
                <input type="text" class="form-control" id="merchantID" name="merchantID" placeholder="Merchant ID" [(ngModel)]="newLocation.merchantID">
            </div>
            <div class="form-group col-md-6">
                <label for="amexSE">Amex SE</label>
                <input type="text" class="form-control" id="amexSE" name="amexSE" placeholder="AMEX SE" [(ngModel)]="newLocation.amexSE">
            </div>
            <div class="form-group col-md-6">
                <label for="discoverSE">Discover SE</label>
                <input type="text" class="form-control" id="discoverSE" name="discoverSE" placeholder="Discover SE" [(ngModel)]="newLocation.discoverSE">
            </div>         
            <div class="form-group col-md-6">
                <label for="corpName">DDA Act Number SE</label>
                <input type="text" class="form-control" id="amexSE" name="amexSE" placeholder="Discover SE" [(ngModel)]="newLocation.discoverSE">
            </div>          
            <button type="submit" class="btn btn-default" [disabled]="!myForm.valid" [ngClass]="{ 'btn-default' : !myForm.valid, 'btn-primary': myForm.valid }">Save</button>
            <button class="btn btn-secondary" (click)="addingLocation = false">Cancel</button>
        </form>
    </div>   
</div>



