<p-growl [value]="msgs"></p-growl>
<div class="col-md-12">
    <div *ngIf="!addingLocation">
        <div class="col-md-4">
            <h2><strong>Alert Status: {{alert?.workItemStatus?.description}}</strong></h2>
        </div>
        <div class="col-md-offset-2 col-md-4"><button [disabled]="alert?.workItemStatusID == constants.alertStatusInProgress" (click)="markInProgress()" class="btn btn-primary">Mark in Progress</button>&nbsp;&nbsp;
        <button [disabled]="alert?.workItemStatusID != constants.alertStatusInProgress" (click)="markResolved()" class="btn btn-primary">Mark Resolved</button></div>
        <div style="clear:both"></div>
        <table class="table-condensed table-striped table-bordered col-md-6 col-sm-12">
            <tr>
                <td>Alerted On</td><td>{{alert?.alertDateTime | moment: 'utc' |  moment: 'format': 'MM/DD/YYYY hh:mm A'  }}</td>
            </tr>
            <tr>
                <td>Rule Type</td>
                <td>{{alert?.ruleType?.description}}</td>
            </tr>
            <tr>
                <td>Alerted On</td>
                <td>{{alert?.alertDateTime | moment: 'utc' |  moment: 'format': 'MM/DD/YYYY hh:mm A'  }}</td>
            </tr>
            <tr>
                <td>Location ID</td>
                <td>{{alert?.locationID}}</td>
            </tr>
            <tr>
                <td>Merchant ID</td>
                <td>{{location?.merchantID}}</td>
            </tr>
            <tr>
                <td>DDA Acct Number</td>
                <td>{{location?.ddA_Account_No}}</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>{{location?.name}}</td>
            </tr>          
            <tr>
                <td>Case #</td>
                <td>{{alert?.chargeBack?.caseNumber}}</td>
            </tr>
        </table>
        <div class="col-md-6 col-sm-12" style="background-color:#F9F9F9">
            <strong class="lead">Detail:</strong><br /><br />
            <strong>{{alert?.detail}}</strong>
            {{alert?.detailedSummary}}
        </div>
        <div class="clearfix">&nbsp;</div>
        <hr />
        <h3>Work</h3>
        <div *ngIf="alert && alert.chargeBack" style="padding: 10px 0 10px 0" class="form-horizontal">
            <div class="form-group col-md-6" style="clear:both;">
                <label class="col-xs-2" for="dueDate">Due Date</label>
                <p-calendar class="col-xs-10" [(ngModel)]="alert.chargeBack.dueDate" [showIcon]="true" [showOnFocus]="false"></p-calendar>
            </div>
            <div class="form-group col-md-6">
                <label class="col-xs-2" for="chargeBackNoticeDate">Charge Back Notice Date</label>
                <p-calendar class="col-xs-10" [(ngModel)]="alert.chargeBack.chargeBackNoticeDate" [showIcon]="true" [showOnFocus]="false"></p-calendar>      </div>
            <div class="form-group col-md-6">
                <label class="col-xs-2" for="dateEmailedToField">Date Emailed To Field</label>
                <p-calendar class="col-xs-10" [(ngModel)]="alert.chargeBack.dateEmailedToField" [showIcon]="true" [showOnFocus]="false"></p-calendar>     </div>
            <div class="form-group col-md-6">
                <label class="col-xs-2" for="dateSubmittedOrFaxed">Date Submitted or Faxed</label>
                <p-calendar class="col-xs-10" [(ngModel)]="alert.chargeBack.dateSubmittedOrFaxed" [showIcon]="true" [showOnFocus]="false"></p-calendar>      </div>
            <div class="form-group col-md-6">
                <label class="col-xs-2" for="dateOfFieldResponse">Date of Field Response</label>
                <p-calendar class="col-xs-10" [(ngModel)]="alert.chargeBack.dateOfFieldResponse" [showIcon]="true" [showOnFocus]="false"></p-calendar>
            </div>
            <div class="form-group col-md-6">
                <label class="col-xs-2" for="typeOfFieldResponse">Sent Method&nbsp;&nbsp;</label>
                <div class="radio-inline">
                    <label>
                        <input class="radio-inline" type="radio" name="faxedOrUploaded" value="F" [(ngModel)]="alert.chargeBack.faxedOrUploaded" />Faxed
                    </label>
                </div>
                <div class="radio-inline">
                    <label>
                        <input class="radio-inline" type="radio" name="faxedOrUploaded" value="U" [(ngModel)]="alert.chargeBack.faxedOrUploaded" />Uploaded
                    </label>
                </div>
            </div>     
            <div style="clear:both"></div>
            <div class="form-group col-md-6">
               <label class="col-xs-2" for="typeOfFieldResponse">Type of Field Response&nbsp;&nbsp;</label>
                <div class="radio-inline">
                    <label>
                        <input class="radio-inline" type="radio" name="typeOfFieldResponse" value="N/A" [(ngModel)]="alert.chargeBack.typeOfFieldResponse" />N/A
                    </label>
                </div>
                <div class="radio-inline">
                    <label>
                        <input class="radio-inline" type="radio" name="typeOfFieldResponse" value="N/R" [(ngModel)]="alert.chargeBack.typeOfFieldResponse" />N/R
                    </label>
                </div>
            </div>    
            <div class="form-group col-md-6">
                <label class="col-xs-2" for="dateOfFieldResponse">Results Notice Date</label>
                <p-calendar class="col-xs-9" [(ngModel)]="alert.chargeBack.resultsNoticeDate" [showIcon]="true" [showOnFocus]="false"></p-calendar>
            </div>
            <div class="form-group col-md-6">
                <label class="col-xs-2" for="disputedAndWonAmount">Disputed Amount</label>
                <div class="col-xs-9">
                    <input currencyMask type="text" style="width:30%" class="form-control" name="disputedAmount" id="disputedAmount" [options]="{ align:'left', allowNegative: false }" [(ngModel)]="alert.chargeBack.disputedAmount">
                </div>
            </div> 
            <div class="form-group col-md-6">
                <label class="col-xs-2" for="automaticLossAmount">Automatic Loss Amount</label>
                <div class="col-xs-9">
                    <input currencyMask type="text" style="width:30%" class="form-control" name="automaticLossAmount" id="automaticLossAmount" [options]="{ align:'left', allowNegative: false }" [(ngModel)]="alert.chargeBack.automaticLossAmount">
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="col-xs-2"  for="approvedChargeBackAmount">Approved Charge Back Amount</label>
                <div class="col-xs-9">
                    <input currencyMask type="text" style="width:30%" class="form-control" name="approvedChargeBackAmount" id="approvedChargeBackAmount" [options]="{ align:'left', allowNegative: false }" [(ngModel)]="alert.chargeBack.approvedChargeBackAmount">
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="col-xs-2"  for="disputedAndWonAmount">Disputed and Won Amount</label>
                <div class="col-xs-9">
                    <input currencyMask type="text" class="form-control" style="width:30%" name="disputedAndWonAmount" id="disputedAndWonAmount" [options]="{ align:'left', allowNegative: false }" [(ngModel)]="alert.chargeBack.disputedAndWonAmount">
                </div>
            </div>
            <div class="form-group col-md-6">
                <label class="col-xs-2"  for="disputedAndLostAmount">Disputed and Lost Amount</label>
                <div class="col-xs-9">
                    <input currencyMask type="text" class="form-control" style="width:30%" name="disputedAndLostAmount" id="disputedAndLostAmount" [options]="{ align:'left', allowNegative: false }" [(ngModel)]="alert.chargeBack.disputedAndLostAmount">
                </div>
            </div>
            <div class="row col-md-12">
                <button type="button" class="col-md-1 btn btn-primary" (click)="onSaveWork()">Save</button>
            </div>
        </div>
        <div style="clear:both"></div>
        <hr />
        <h3>Notes</h3>
        <p-editor [(ngModel)]="newNote" [style]="{'height':'100px'}"></p-editor>
        <h4><button class="btn btn-primary" [disabled]="!newNote || newNote.length == 0" (click)="saveNewNote()"><i class="fa fa-save"></i>&nbsp;&nbsp;Save New Note</button></h4>
        <hr />
        <p-dataTable [value]="alert?.notes" tableStyleClass="table-striped pull-right" [immutable]="false">
            <p-column field="noteDateTime" sortable="true" styleClass="col-md-2">
                <template pTemplate="header">
                    Note Date Time
                </template>
                <template let-note="rowData" pTemplate="body">
                    {{note.noteDateTime | moment: 'format': 'MM/DD/YYYY h:mm:ss A' }}
                </template>
            </p-column>
            <p-column field="noteByUser.userName" header="User" sortable="true" styleClass="col-md-2"></p-column>          
            <p-column header="Note" styleClass="col-md-8">
                <template let-note="rowData" pTemplate="body">
                    <div [innerHTML]="note.note">
                    </div>
                </template>
            </p-column>
            <p-column header="Commands" styleClass="col-md-1">
                <template let-note="rowData" pTemplate="body">
                    <i class="fa fa-2x fa-trash-o" title="Delete Note" (click)="deleteNote(note)"></i>
                </template>
            </p-column>
        </p-dataTable>      
        <div style="clear:both"></div>
        <hr />
        <h3>Attachments</h3><h4><button class="btn btn-primary" (click)="addingAttachment=true"><i class="fa fa-upload">&nbsp;&nbsp;Add Attachment</i></button></h4>
        <div *ngIf="addingAttachment" style="border:1px solid #C7C7C7; padding:5px;">
            <div class="col-md-3">Description: <input [(ngModel)]="attachmentShortDescription" /></div>
            <div class="col-md-4">
                <file-upload [(fileName)]="fileName" [(mimeType)]="mimeType" [(base64Response)]="base64Response"></file-upload>
            </div>
             <button [disabled]="!fileName || fileName.length == 0 || attachmentShortDescription.length == 0" class="btn btn-sm btn-primary pull-left" (click)="saveAttachment()">Save Attachment</button>
            <div style="clear:both"></div>
        </div>
        <p-dataTable [immutable]="false" *ngIf="attachments" [value]="attachments" tableStyleClass="table-striped pull-right">
            <p-column field="fileTrueName" header="File" sortable="true" styleClass="col-md-2"></p-column>
            <p-column field="shortDescription" header="Description" sortable="true" styleClass="col-md-3"></p-column>
            <p-column field="addDateTime" sortable="true" styleClass="col-md-1">
                <template pTemplate="header">
                    Added Date Time
                </template>
                <template let-attachment="rowData" pTemplate="body">
                    {{attachment.addDateTime | moment: 'format': 'MM/DD/YYYY h:mm:ss A' }}
                </template>
            </p-column>
            <p-column field="addedByUser.userName" header="User" sortable="true" styleClass="col-md-2"></p-column>       
            <p-column header="Commands" styleClass="col-md-1">
                <template let-attachment="rowData" pTemplate="body">
                    <a href="{{constants.BaseAttachmentUri + attachment.attachmentID}}"><i class="fa fa-2x fa-download" title="Download" (click)="getAttachment(attachment)"></i></a>
                </template>
            </p-column>
        </p-dataTable>      
        <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>
    </div>
</div>



 