<p-growl [value]="msgs"></p-growl>
<div class="col-md-12">
    <div *ngIf="loaded">
        <h2>Location {{location.locationID}} <strong>(Read Only)</strong></h2>
        <tabset #staticTabs>
            <tab heading="Details">
                <br />
                <div>
                    <div class="form-group col-md-6">
                        <label for="name">New Location ID</label>
                        <input type="text" readonly class="form-control" name="newLocationID" id="newLocationID" [(ngModel)]="newLocationID">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="address1">Old Location ID</label>
                        <input type="text" readonly class="form-control" name="oldLocationID" id="oldLocationID" [(ngModel)]="location.oldLocationID">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="name">Name *</label>
                        <input required type="text" readonly class="form-control" name="name" id="name" placeholder="Name" [(ngModel)]="location.name">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="address1">Address *</label>
                        <input required type="text" readonly class="form-control" name="address1" id="address1" placeholder="Address" [(ngModel)]="location.address1">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="city">City *</label>
                        <input required type="text" readonly class="form-control" name="city" id="city" placeholder="City" [(ngModel)]="location.city">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="state">State:</label>
                        <span>{{location.state}}</span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="zip">Zip *</label>
                        <input readonly required type="text" class="form-control" name="zip" id="zip" placeholder="Zip" [(ngModel)]="location.zip">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="region">Region:</label>
                        <span>{{location.regionID}}</span>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="corpName">Corp Name</label>
                        <input readonly type="text" class="form-control" name="corpName" id="corpName" placeholder="Corp Name" [(ngModel)]="location.corpName">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="contactName">Contact Name *</label>
                        <input readonly required type="text" class="form-control" name="contactName" id="contactName" placeholder="Contact Name" [(ngModel)]="location.contactName">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="merchantID">Merchant ID</label>
                        <input readonly type="text" class="form-control" id="merchantID" name="merchantID" placeholder="Merchant ID" [(ngModel)]="location.merchantID">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="abaNum">ABA #</label>
                        <input readonly type="text" class="form-control" name="abaNum" id="abaNum" placeholder="ABA #" [(ngModel)]="location.abaNo">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="amexSE">Amex SE</label>
                        <input readonly type="text" class="form-control" id="amexSE" name="amexSE" placeholder="AMEX SE" [(ngModel)]="location.amexSE">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="corpName">DDA Act Number</label>
                        <input readonly type="text" class="form-control" id="ddA_Account_No" name="ddA_Account_No" placeholder="DDA Account #" [(ngModel)]="location.ddA_Account_No">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="discoverSE">Discover SE</label>
                        <input readonly type="text" class="form-control" id="discoverSE" name="discoverSE" placeholder="Discover SE" [(ngModel)]="location.discoverSE">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ccProcessor">Credit Card Processor</label>
                        <input readonly type="text" class="form-control" id="ccProcessor" name="ccProcessor" placeholder="Credit Card Processor" [(ngModel)]="location.creditCardProcessor">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="gwProcessor">Gateway Processor</label>
                        <input readonly type="text" class="form-control" id="gwProcessor" name="gwProcessor" placeholder="Gateway Processor" [(ngModel)]="location.gatewayProcessor">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="acct">Use Client Account</label>&nbsp;
                        <input readonly type="checkbox" class="checkbox-inline" id="acct" name="acct" placeholder="Use Client Account" [(ngModel)]="location.useClientAccount">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="acctNm">Client Account Number</label>
                        <input readonly [disabled]="!location.useClientAccount" type="text" class="form-control" id="acctNm" name="acctNm" placeholder="Client Account Number" [(ngModel)]="location.clientAccount">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="acar">Armored Car Company</label>
                        <input readonly type="text" class="form-control" id="acar" name="acar" placeholder="Armored Car Company" [(ngModel)]="location.armoredCarCompany">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="acct">No CC MIDs</label>&nbsp;
                        <input readonly type="checkbox" class="checkbox-inline" id="acct" name="noccmid" placeholder="No CC MIDs" [(ngModel)]="location.noCCMIDS">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="acct">No Bank Acct Info</label>&nbsp;
                        <input readonly type="checkbox" class="checkbox-inline" id="acct" name="nobankacct" placeholder="No Bank Acct Info" [(ngModel)]="location.noBankAcctInfo">
                    </div>
                    <div class="row col-md-12">
                        <div class="form-group col-md-3 pull-right" *ngIf="location.terminated > 0 && !location.manualDeleted">
                            <strong>This location is terminated.</strong>
                        </div>
                        <div class="form-group col-md-3 pull-right" *ngIf="location.terminated <= 0 && !location.manualDeleted">
                            <strong>This location is active.</strong>
                        </div>
                        <div class="form-group col-md-3 col-md-offset-1  pull-right" *ngIf="location.ignored && !location.manualDeleted">
                            <strong>This location is ignored.</strong>
                        </div>
                        <div class="form-group col-md-3 col-md-offset-1  pull-right" *ngIf="!location.ignored && !location.manualDeleted">
                            <strong>This location is not ignored.</strong>
                        </div>                      
                        <div *ngIf="location.manualDeleted">
                            <strong><br />
                                This location was manually deleted.
                            </strong>
                        </div>
                    </div>                  
                </div>
            </tab>         
</tabset>
</div>
</div>
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>



