<div class="modal-header">
    <h4 class="modal-title pull-left" *ngIf="arpTheft.theftReplenishId==0">ADD REPLENISHMENT DUE TO THEFT</h4>
    <h4 class="modal-title pull-left" *ngIf="arpTheft.theftReplenishId>0">EDIT REPLENISHMENT DUE TO THEFT</h4>
    <i style="cursor:pointer" class="fa fa-2x fa-times pull-right" (click)="close()"></i>
    <div style="clear:both"></div>
</div>
<form novalidate (ngSubmit)="save()" #dbForm="ngForm">
    <div class="modal-body" style="padding:0 10px 0 10px" *ngIf="arpTheft">
        <h3>Replenished due to theft</h3>
        <div>
            <div class="form-group col-md-6">
                <label for="dateReturned">Date Requested *</label>
                <p-calendar [ngModelOptions]="{standalone: true}" hourFormat="12" [(ngModel)]="arpTheft.dateRequested"></p-calendar>
            </div>
            <div class="form-group col-md-6">
                <label for="dateReturned">Check Date *</label>
                <p-calendar [ngModelOptions]="{standalone: true}" hourFormat="12" [(ngModel)]="arpTheft.checkDate"></p-calendar>
            </div>
            <div class="form-group col-md-6">
                <label for="checkNumber">Check Number</label><span [hidden]="checkNumber.valid || checkNumber.pristine">Check number is required.</span>
                <input required type="text" class="form-control" name="checkNumber" id="checkNumber" placeholder="Check Number" [(ngModel)]="arpTheft.checkNumber" #checkNumber="ngModel" />
            </div>
            <div class="form-group col-md-6">
                <label for="payableTo">Payable To</label><span [hidden]="payableTo.valid || payableTo.pristine">Payable To is required.</span>
                <input required type="text" class="form-control" name="payableTo" id="payableTo" placeholder="Payable To" [(ngModel)]="arpTheft.payableTo" #payableTo="ngModel" />
            </div>
            <div class="form-group col-md-6" (ngSubmit)="save()">
                <label for="amount">Amount *</label><span [hidden]="amount.valid || amount.pristine">Check Amount Returned is required.</span>
                <input required type="number" class="form-control" name="amount" id="amount" placeholder="Check Amount" [(ngModel)]="arpTheft.amount" #amount="ngModel" />
            </div>
            <div class="form-group col-md-6" (ngSubmit)="save()">
                <label for="changeFundRefund">Change Fund Refund</label>
                <input type="number" class="form-control" name="changeFundRefund" id="changeFundRefund" placeholder="Change Fund Refund" [(ngModel)]="arpTheft.changeFundRefund" #amount="ngModel" />
            </div>
            <div class="form-group col-md-6" (ngSubmit)="save()">
                <label for="pettyCash">Petty Cash</label>
                <input type="number" class="form-control" name="pettyCash" id="pettyCash" placeholder="Petty Cash" [(ngModel)]="arpTheft.pettyCash" #amount="ngModel" />
            </div>
            <div class="form-group col-md-6" (ngSubmit)="save()">
                <label for="revenue">Revenue</label>
                <input type="number" class="form-control" name="revenue" id="revenue" placeholder="Revenue" [(ngModel)]="arpTheft.revenue" #amount="ngModel" />
            </div>
            <div class="form-group col-md-6">
                <label for="comments">Comments</label>
                <textarea style="resize:none" rows="2" id="comments" name="comments" cols="60" class="form-control" [(ngModel)]="arpTheft.comments" #comments="ngModel"></textarea>
            </div>
            <div style="clear:both">&nbsp;</div>
        </div>         
        <div class="modal-footer">
            <button class="btn btn-primary" [disabled]="!dbForm.valid" type="submit">SAVE</button>
        </div>
        
    </div>
</form>
