<p-growl [value]="msgs"></p-growl>
<div class="col-md-12">
    <div *ngIf="loaded">
        <h2>Location {{location.locationID}}</h2>
        <form #myForm="ngForm" (ngSubmit)="onSaveLocation($event)" autocomplete="false">         
            <div class="form-group col-md-6">
                <label for="name">New Location ID</label>
                <input type="text" class="form-control" name="newLocationID" id="newLocationID"  [(ngModel)]="newLocationID">
            </div>
            <div class="form-group col-md-6">
                <label for="address1">Old Location ID</label>
                <input type="text" class="form-control" name="oldLocationID" id="oldLocationID"  [(ngModel)]="location.oldLocationID">
            </div>
            <div class="form-group col-md-6">
                <label for="name">Name *</label>
                <input required type="text" class="form-control" name="name" id="name" placeholder="Name" [(ngModel)]="location.name">
            </div>
            <div class="form-group col-md-6">
                <label for="address1">Address *</label>
                <input required type="text" class="form-control" name="address1" id="address1" placeholder="Address" [(ngModel)]="location.address1">
            </div>
            <div class="form-group col-md-6">
                <label for="city">City *</label>
                <input required type="text" class="form-control" name="city" id="city" placeholder="City" [(ngModel)]="location.city">
            </div>
            <div class="form-group col-md-6">
                <label for="state">State *</label>
                <p-dropdown placeholder="Select a state" name="state" [required]="true" [options]="states" [filter]="true" [(ngModel)]="location.state"></p-dropdown>
            </div>
            <div class="form-group col-md-6">
                <label for="zip">Zip *</label>
                <input required type="text" class="form-control" name="zip" id="zip" placeholder="Zip" [(ngModel)]="location.zip">
            </div>
            <div class="form-group col-md-6">
                <label for="region">Region *</label>
                <p-dropdown placeholder="Select region" name="region" [required]="true" [options]="regions" [filter]="true" [(ngModel)]="location.regionID"></p-dropdown>
            </div>
            <div class="form-group col-md-6">
                <label for="corpName">Corp Name</label>
                <input type="text" class="form-control" name="corpName" id="corpName" placeholder="Corp Name" [(ngModel)]="location.corpName">
            </div>
            <div class="form-group col-md-6">
                <label for="contactName">Contact Name *</label>
                <input required type="text" class="form-control" name="contactName" id="contactName" placeholder="Contact Name" [(ngModel)]="location.contactName">
            </div>
            <div class="form-group col-md-6">
                <label for="merchantID">Merchant ID</label>
                <input type="text" class="form-control" id="merchantID" name="merchantID" placeholder="Merchant ID" [(ngModel)]="location.merchantID">
            </div>
            <div class="form-group col-md-6">
                <label for="abaNum">ABA #</label>
                <input type="text" class="form-control" name="abaNum" id="abaNum" placeholder="ABA #" [(ngModel)]="location.abaNo">
            </div>
            <div class="form-group col-md-6">
                <label for="amexSE">Amex SE</label>
                <input type="text" class="form-control" id="amexSE" name="amexSE" placeholder="AMEX SE" [(ngModel)]="location.amexSE">
            </div>
            <div class="form-group col-md-6">
                <label for="corpName">DDA Act Number</label>
                <input type="text" class="form-control" id="ddA_Account_No" name="ddA_Account_No" placeholder="DDA Account #" [(ngModel)]="location.ddA_Account_No">
            </div>   
            <div class="form-group col-md-6">
                <label for="discoverSE">Discover SE</label>
                <input type="text" class="form-control" id="discoverSE" name="discoverSE" placeholder="Discover SE" [(ngModel)]="location.discoverSE">
            </div>         
            
            <div class="row col-md-12">
                <div class="small bold" style="color:red" *ngIf="!myForm.valid">All fields preceeded by an asterisk, *, must be filled in before the save button will be available.</div>
                <button type="submit" class="col-md-1 btn btn-default" *ngIf="myForm.valid" [ngClass]="{ 'btn-default' : !myForm.valid, 'btn-primary': myForm.valid }">Save</button>
                <div class="form-group col-md-3 pull-right" *ngIf="location.terminated > 0">
                    <strong>This location is terminated.</strong>
                    <button class="btn btn-primary btn-xs" type="button" (click)="markActive(location)">Mark Location Active</button>
                </div>
                <div class="form-group col-md-3 pull-right" *ngIf="location.terminated <= 0">
                    <strong>This location is active.</strong>
                    <button class="btn btn-primary btn-xs" type="button" (click)="markTerminated(location)">Mark Location Terminated</button>
                </div>
                <div class="form-group col-md-3 col-md-offset-1  pull-right" *ngIf="location.ignored">
                    <strong>This location is ignored.</strong>
                    <button class="btn btn-primary btn-xs" type="button" (click)="markNotIgnored(location)">Mark Location Not Ignored</button>
                </div>
                <div class="form-group col-md-3 col-md-offset-1  pull-right" *ngIf="!location.ignored">
                    <strong>This location is not ignored.</strong>
                    <button class="btn btn-primary btn-xs" type="button" (click)="markIgnored(location)">Mark Location Ignored</button>
                </div>
            </div>
       </form>
        <hr />
        <strong>Credit Card Cases</strong>
        <input #gb type="text" class="pull-right" placeholder="Search"><i class="fa fa-search pull-right" style="margin-right:10px" aria-hidden="true"></i>
        <p-dataTable (onRowSelect)="onCaseSelect($event)"  [value]="cases" [pageLinks]="5" selectionMode="single" tableStyleClass="table-striped" [paginator]="true" [rows]="15" [globalFilter]="gb">
            <p-column field="chargeBack.caseNumber" header="Case Number" sortable="true" styleClass="col-md-1"></p-column>
            <p-column field="alertDateTime" sortable="true" styleClass="col-md-2">
                <template pTemplate="header">
                    Alert Date Time
                </template>
                <template let-alert="rowData" pTemplate="body">
                    {{alert.alertDateTime | moment: 'format': 'MM/DD/YYYY h:mm:ss A' }}
                </template>
            </p-column>          
            <p-column field="alertStatus.description" header="Status" sortable="true" styleClass="col-md-1"></p-column>
            <p-column field="ruleType.description" header="Rule" sortable="true" styleClass="col-md-2"></p-column>     
        </p-dataTable>  
        <hr />
        <strong>Transactions</strong>
        <input #gb2 type="text" class="pull-right" placeholder="Search"><i class="fa fa-search pull-right" style="margin-right:10px" aria-hidden="true"></i>
        <p-dataTable [value]="transactions"  [pageLinks]="5" selectionMode="single"tableStyleClass="table-striped" [paginator]="true" [rows]="15" [globalFilter]="gb2">
            <p-column field="customerAccountNumber" header="Customer Account" sortable="true" styleClass="col-md-1"></p-column>
            <p-column field="trans_DateTime" sortable="true" styleClass="col-md-2">
                <template pTemplate="header">
                    Transaction Date
                </template>
                <template let-transaction="rowData" pTemplate="body">
                    {{transaction.trans_DateTime | moment: 'format': 'MM/DD/YYYY' }}
                </template>
            </p-column>
            <p-column field="transactionType.transactionDescription" header="Type" sortable="true" styleClass="col-md-2"></p-column>
            <p-column header="Amount" styleClass="col-md-1">
                <template let-transaction="rowData" pTemplate="body">
                    {{transaction.transactionAmount | currency:'USD':true}}
                </template>
            </p-column>
            <p-column field="notes" header="Notes" sortable="true" styleClass="col-md-3"></p-column>
        </p-dataTable>  
    </div>   
</div>
<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>



