<p-growl [value]="msgs"></p-growl>
<div style="position:fixed;width:100%;z-index:10;background-color:#FFFFFF">
    <div class="col-md-12">
        <h2 class="col-md-4"><strong>Credit Reconciliations</strong></h2>
    </div>
    <div class="col-md-12">
        <div class="col-lg-3 col-md-4 col-sm-4 form-group">
            <label for="filterLocationId">Region:&nbsp;</label>
            <p-dropdown [options]="regions" [style]="{'width':'70%'}" [autoWidth]="false" (onChange)="loadLocations()" [(ngModel)]="filterRegion" placeholder="Select Region" [lazy]="false"></p-dropdown>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-5 form-group">
            <label for="filterLocationId">Location:&nbsp;</label>
            <p-dropdown [options]="locations" [style]="{'width':'70%'}" [autoWidth]="false" [disabled]="filterRegion === ''" (onChange)="loadReconciles()" [(ngModel)]="filterLocation" [filter]="true" [lazy]="false" placeholder="Select Location"></p-dropdown>
            <button class="btn-xs btn-primary" (click)="filterLocation=''"><i class="fa fa-close"></i></button>
        </div>                
        <div class="col-xs-12">
            <label class="pull-left" style="height:35px;margin-top:10px;">From:  </label>
            <p-calendar styleClass="col-xs-11 col-md-3" [(ngModel)]="fromDate" [showIcon]="true" [showOnFocus]="false"></p-calendar>
            <div style="clear:both" class="visible-sm visible-xs"></div>
            <label class="pull-left" style="height:35px;margin-top:10px;">To:  </label>
            <p-calendar styleClass="col-xs-11 col-md-3" [(ngModel)]="toDate" [showIcon]="true" [showOnFocus]="false"></p-calendar>
            <div style="clear:both" class="visible-sm visible-xs"></div>
        </div> 
        <div style="clear:both">&nbsp;</div>       
        <div class="col-xs-3 col-md-2">
            <button class="btn btn-primary" [disabled]="filterMerchantId === '' && filterLocation === ''" (click)="filter()">Filter</button>
        </div>
    </div>
</div>
<style>
    table thead tr {
        display: block;
    }

    table th, table td {
        width: 9vw;
    }


    table tbody {
        display: block;
        height: 60vh;
        overflow: auto;
    }
</style>
<div class="col-md-12" style="position:relative;top:235px;z-index:5">
    <tabset>
        <tab heading="Results">
            <table class="table table-condensed table-striped col-md-12">
                <thead>
                <tr>
                    <th style="width:20px">&nbsp;</th>
                    <th>Date Funded</th>
                    <th>CCIMF Amount</th>
                    <th>DCR Entered Amount</th>
                    <th>DCR Entry Date</th>
                    <th>CCIMF Visa/MC/Disc Amount</th>
                    <th>DCR Visa/MC/Disc Amount</th>
                    <th>CCIMF Amex Amount</th>
                    <th>DCR Amex Amount</th>
                    <th>CCIMF Over / (Short)</th>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngFor="let reconcile of matches; let i = index">
                    <tr>
                        <td style="width:20px">
                            <i *ngIf="reconcile.variance != 0.0 && !reconcile.expanded" class="fa fa-plus" aria-hidden="true" (click)="reconcile.expanded = !reconcile.expanded"></i>
                            <i *ngIf="reconcile.variance != 0.0  && reconcile.expanded" class="fa fa-minus" aria-hidden="true" (click)="reconcile.expanded = !reconcile.expanded"></i>
                        </td>
                        <td>{{reconcile.fundedDate | momentUtc: 'format': 'MM/DD/YYYY'}}</td>
                        <td>{{reconcile.totalCCIMFCreditAmount | currency:'USD':true}}</td>
                        <td>{{reconcile.totalDCRCreditAmount | currency:'USD':true}}</td>
                        <td>{{reconcile.dcrEntryDate | momentUtc: 'format': 'MM/DD/YYYY'}}</td>
                        <td [style.color]="getMatchColor(reconcile.dcrVisaMCDiscAmount, reconcile.ccimfmcVisaDiscAmount)">{{reconcile.ccimfmcVisaDiscAmount | currency:'USD':true}}</td>
                        <td [style.color]="getMatchColor(reconcile.dcrVisaMCDiscAmount, reconcile.ccimfmcVisaDiscAmount)">{{reconcile.dcrVisaMCDiscAmount | currency:'USD':true}}</td>
                        <td [style.color]="getMatchColor(reconcile.ccimfAmexAmount, reconcile.dcrAmexAmount)">{{reconcile.ccimfAmexAmount | currency:'USD':true}}</td>
                        <td [style.color]="getMatchColor(reconcile.ccimfAmexAmount, reconcile.dcrAmexAmount)">{{reconcile.dcrAmexAmount | currency:'USD':true}}</td>
                        <td>
                            <div [innerHTML]="reconcile.variance | currency:'USD':true | formatProfitLoss | safe: 'html'"></div>
                        </td>
                    </tr>
                    <tr *ngIf="reconcile.expanded" style="background-color:gainsboro">
                        <td colspan="10">
                            <strong>DCR Data</strong><br />
                            <table class="table table-condensed table-striped" style="font-size:80%;width:95%;float:right">
                                <tr>
                                    <th>Visa/MC/Disc Amount</th>
                                    <th>AMEX Amount</th>
                                    <th>Entry Date</th>
                                </tr>
                                <ng-container *ngFor="let dcr of reconcile.matches; let j = index">
                                    <tr>
                                        <td>{{dcr.dcrmcVisaDiscAmount | currency:'USD':true}}</td>
                                        <td>{{dcr.dcrAmexAmount | currency:'USD':true}}</td>
                                        <td>{{dcr.dcrEntryDate | momentUtc: 'format': 'MM/DD/YYYY'}}</td>
                                    </tr>
                                </ng-container>
                            </table>

                        </td>
                    </tr>
                </ng-container>
                <tr *ngIf="matches.length > 0" class="strong" style="background-color:gainsboro">
                    <td colspan="2"><strong>TOTALS</strong></td>
                    <td>{{sumField("totalCCIMFCreditAmount") | currency:'USD':true}}</td>
                    <td>{{sumField("totalDCRCreditAmount") | currency:'USD':true}}</td>
                    <td></td>
                    <td>{{sumField("ccimfmcVisaDiscAmount") | currency:'USD':true}}</td>
                    <td>{{sumField("dcrVisaMCDiscAmount") | currency:'USD':true}}</td>
                    <td>{{sumField("ccimfAmexAmount") | currency:'USD':true}}</td>
                    <td>{{sumField("dcrAmexAmount") | currency:'USD':true}}</td>
                    <td>
                        <div [innerHTML]="sumField('variance') | currency:'USD':true | formatProfitLoss | safe: 'html'"></div>
                    </td>
                </tr>
                </tbody>
            </table>
        </tab>
        <tab heading="Manual Matching">
            <br />
            <button class="btn-primary btn-xs pull-right" (click)="resetMatches()">Clear Matches</button>
             <div class="col-md-5 clearfix">
                <div *ngIf="!currentCC">
                    Step (1): Drag an unmatched CCIMF Record
                    <table class="table table-condensed table-striped col-md-12">
                        <tr> 
                            <th>Funded Date</th>
                            <th>Total CC Credit Amt</th>
                            <th>Visa Disc Amt</th>
                            <th>Amex Amt</th>
                        </tr>
                        <ng-container *ngFor="let cc of ccOnly; let i = index">
                            <tr dnd-draggable [dragEnabled]="true" [dragData]="cc">
                                <td>{{cc.fundedDate | momentUtc: 'format': 'MM/DD/YYYY'}}</td>
                                <td>{{cc.totalCCIMFCreditAmount | currency:'USD':true}}</td>
                                <td>{{cc.ccimfmcVisaDiscAmount | currency:'USD':true}}</td>
                                <td>{{cc.ccimfAmexAmount | currency:'USD':true}}</td>
                            </tr>
                        </ng-container>
                    </table>
                </div>
                <div *ngIf="currentCC">
                    <strong>Step (2): Drag unmatched DCR Record(s)</strong><br />
                    <table class="table table-condensed table-striped" style="font-size:80%;width:95%;float:right">
                        <tr>
                            <th>Visa/MC Amount</th>
                            <th>Discover Amount</th>
                            <th>AMEX Amount</th>
                            <th>Other Amount</th>
                            <th>Created On</th>
                            <th>Description</th>
                            <th>Entry Date</th>
                        </tr>
                        <ng-container *ngFor="let dcr of dcrOnly; let j = index">
                            <tr dnd-draggable [dragEnabled]="true" [dragData]="dcr" *ngIf="notInMatches(dcr)">
                                <td>{{dcr.numMCVisaAmount | currency:'USD':true}}</td>
                                <td>{{dcr.numDiscoverAmount | currency:'USD':true}}</td>
                                <td>{{dcr.numAmexAmount | currency:'USD':true}}</td>
                                <td>{{dcr.numOtherAmount | currency:'USD':true}}</td>
                                <td>{{dcr.dtmCreatedOn | momentUtc: 'format': 'MM/DD/YYYY'}}</td>
                                <td>{{dcr.strLineItemDesc}}</td>
                                <td>{{dcr.dtmEntryDate | momentUtc: 'format': 'MM/DD/YYYY'}}</td>
                            </tr>
                        </ng-container>
                    </table>
                </div>
            </div>            
            <div class="col-md-5 col-md-offset-1">
                <div class="col-md-12" style="border:1px black solid; border-radius:15px; padding:10px;">
                    <div *ngIf="!currentCC" style="padding:5px" class="bold" dnd-droppable (onDropSuccess)="dropCC($event)">Drag CC IMF Here</div>
                    <div *ngIf="currentCC">
                        <div class="row col-md-12 bold">CURRENT CC Funded Date: {{currentCC?.fundedDate | momentUtc: 'format': 'MM/DD/YYYY'}}</div>
                        <div class="row"><div class="col-md-4 bold">Total</div><div class="col-md-3 pull-right text-right">{{currentCC?.totalCCIMFCreditAmount | currency:'USD':true}}</div></div>
                        <div class="row"><div class="col-md-4 bold">Visa/MC/Disc</div><div class="col-md-3 pull-right text-right">{{currentCC?.ccimfmcVisaDiscAmount | currency:'USD':true}}/<strong>({{currentMatchVisaVariance | currency:'USD':true}})</strong></div></div>
                        <div class="row"><div class="col-md-4 bold">Amex</div><div class="col-md-3 pull-right text-right">{{currentCC?.ccimfAmexAmount | currency:'USD':true}}/<strong>({{currentMatchAmexVariance | currency:'USD':true}})</strong></div></div>
                        <div class="row"><div class="col-md-4 bold">Variance:</div><div class="col-md-3 pull-right text-right"><strong>{{currentMatchVariance | currency:'USD':true}}</strong></div></div>
                    </div>
                    <button class="btn-success btn-xs pull-right" *ngIf="currentMatchVariance == 0.0 && currentCC && currentMatchChoices.length > 0">Save Matches</button>
                </div> 
                <div *ngIf="currentCC" class="col-md-12"  dnd-droppable (onDropSuccess)="dropDcr($event)" style="border:1px black solid; border-radius:15px; padding:10px;">
                    <div class="bold" dnd-droppable (onDropSuccess)="dropDcr($event)">Drag matching DCR records here.</div>
                    <table class="table table-condensed table-striped" dnd-droppable (onDropSuccess)="dropDcr($event)">
                        <tr>
                            <th>Visa/MC Amount</th>
                            <th>Discover Amount</th>
                            <th>AMEX Amount</th>
                            <th>Other Amount</th>
                            <th>Created On</th>
                            <th>Description</th>
                            <th>Entry Date</th>
                            <th>Remove From Match</th>
                        </tr>
                        <ng-container *ngFor="let dcr of currentMatchChoices; let j = index">
                            <tr>
                                <td>{{dcr.numMCVisaAmount | currency:'USD':true}}</td>
                                <td>{{dcr.numDiscoverAmount | currency:'USD':true}}</td>
                                <td>{{dcr.numAmexAmount | currency:'USD':true}}</td>
                                <td>{{dcr.numOtherAmount | currency:'USD':true}}</td>
                                <td>{{dcr.dtmCreatedOn | momentUtc: 'format': 'MM/DD/YYYY'}}</td>
                                <td>{{dcr.strLineItemDesc}}</td>
                                <td>{{dcr.dtmEntryDate | momentUtc: 'format': 'MM/DD/YYYY'}}</td>
                                <td><i class="fa fa-2x fa-remove" (click)="removeDcrMatch(dcr)"></i></td>
                            </tr>
                        </ng-container>
                    </table>                    
                </div>
           </div>
        </tab>
    </tabset>
</div>
