<p-growl [value]="msgs"></p-growl>
<div style="position:fixed;width:100%;z-index:10;background-color:#FFFFFF">
    <div class="col-md-12">
        <h2 class="col-md-4"><strong>Bank Reconciliations</strong></h2>
    </div>
    <div class="col-md-12">
        <div class="col-lg-3 col-md-4 col-sm-4 form-group">
            <label for="filterLocationId">Region:&nbsp;</label>
            <p-dropdown [options]="regions" [style]="{'width':'70%'}" [autoWidth]="false" (onChange)="loadLocations()" [(ngModel)]="filterRegion" placeholder="Select Region" [lazy]="false"></p-dropdown>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-5 form-group">
            <label for="filterLocationId">Location:&nbsp;</label>
            <p-dropdown [options]="locations" [style]="{'width':'70%'}" [autoWidth]="false" [disabled]="filterRegion === ''" (onChange)="loadReconciles()" [(ngModel)]="filterLocation" [filter]="true" [lazy]="false" placeholder="Select Location"></p-dropdown>
            <button class="btn-xs btn-primary" (click)="filterLocation=''"><i class="fa fa-close"></i></button>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 form-group">
            <label for="filterBankAccount">Acct #:&nbsp;</label>
            <input type="text" [(ngModel)]="filterBankAccount"  name="filterBankAccount" id="filterBankAccount" placeholder="Bank Account #"/>
        </div>           
        <div class="col-xs-12">
            <label class="pull-left" style="height:35px;margin-top:10px;">From:  </label>
            <p-calendar styleClass="col-xs-11 col-md-3" [(ngModel)]="fromDate" [showIcon]="true" [showOnFocus]="false"></p-calendar>
            <div style="clear:both" class="visible-sm visible-xs"></div>
            <label class="pull-left" style="height:35px;margin-top:10px;">To:  </label>
            <p-calendar styleClass="col-xs-11 col-md-3" [(ngModel)]="toDate" [showIcon]="true" [showOnFocus]="false"></p-calendar>
            <div style="clear:both" class="visible-sm visible-xs"></div>
        </div> 
        <div style="clear:both">&nbsp;</div>
        <div class="col-lg-7 col-md-7 col-sm-12 form-group">
            <p-selectButton [disabled]="filterBankAccount === '' && filterLocation === ''" [options]="types" [(ngModel)]="type" (onChange)="loadReconciles()"></p-selectButton>
        </div>
        <div class="col-xs-3 col-md-2">
            <button class="btn btn-primary" [disabled]="filterMerchantId === '' && filterLocation === ''" (click)="filter()">Filter</button>
        </div>
    </div>
</div>
<div class="col-md-12" style="position:relative;top:235px;z-index:5">
    <div *ngIf="type2==2">
        <p-selectButton [options]="bankOnlySubTypes" [(ngModel)]="bankOnlySubType" (onChange)="filterSubType()"></p-selectButton>
        <p-dataTable [immutable]="false" (onPage)="onPage($event)" (onFilter)="onFilter($event)" (onSort)="onSort($event)" scrollable="true" scrollHeight="700px" [pageLinks]="5" [value]="matches" tableStyleClass="table-striped pull-right borderTable" [paginator]="true" [rows]="15" [globalFilter]="gb">
            <p-column field="baiCode" header="BAI Code" sortable="true" styleClass="col-md-1"></p-column>
            <p-column field="bankDate" sortable="true" styleClass="col-md-2">
                <template pTemplate="header">
                    Bank Date
                </template>
                <template let-reconcile="rowData" pTemplate="body">
                    {{reconcile.bankDate | momentUtc: 'format': 'MM/DD/YYYY' }}
                </template>
            </p-column>
            <p-column field="reconcile.bankDepositAmount" sortable="true" styleClass="col-md-2">
                <template pTemplate="header">
                    Amount
                </template> 
                <template let-reconcile="rowData" pTemplate="body">
                    {{reconcile.amount | currency:'USD':true}}
                </template>
            </p-column>
            <p-column field="accountNumber" header="Account" sortable="true" styleClass="col-md-1"></p-column>
            <p-column field="customerRef" header="Customer Ref" sortable="true" styleClass="col-md-2"></p-column>
        </p-dataTable>  
    </div>
    <table class="table table-condensed table-striped col-md-12" *ngIf="type2==3">
         <tr>
             <th>Source</th>
             <th>Region</th>
             <th>Location</th>
             <th>Deposit Slip</th>
             <th>Bank Bag</th>
             <th>Date</th>
             <th>Total</th>
         </tr>
         <ng-container *ngFor="let reconcile of matches">
             <tr>
                 <td>DCR</td>
                 <td>{{reconcile.intRegionID}}</td>
                 <td>{{reconcile.strLotNumber}}</td>
                 <td>{{reconcile.strDepositSlipSerialNo}}</td>
                 <td>{{reconcile.strBankBag}}</td>
                 <td>{{reconcile.dtmEntryDate | momentUtc: 'format': 'MM/DD/YYYY'}}</td>
                 <td>{{reconcile.numAmount | currency:'USD':true}}</td>
             </tr>
         </ng-container>
    </table>
    <table class="table table-condensed table-striped col-md-12" *ngIf="type2==1">
        <tr>
            <th>Source</th>
            <th>Deposit ID</th>
            <th>Deposit Slip</th>
            <th>Bank Bag</th>
            <th>Location</th>
            <th>Date</th>
            <th>Days Between</th>
            <th>Amount</th>
        </tr>
        <ng-container *ngFor="let reconcile of matches; let i = index">
            <tr [ngStyle]="{ 'background-color': rowColor(i) }">
                <td>DCR</td>
                <td>{{reconcile.arpdcrCashDepositID}}</td>
                <td>{{reconcile.dcrCashDeposit.strDepositSlipSerialNo}}</td>
                <td>{{reconcile.dcrCashDeposit.strBankBag}}</td>
                <td>{{reconcile.locationID}}</td>
                <td>{{reconcile.dcrEntryDate | momentUtc: 'format': 'MM/DD/YYYY'}}</td>
                <td></td>
                <td>{{reconcile.dcrDepositAmount | currency:'USD':true}}</td>
            </tr>
            <tr *ngIf="reconcile.bankTransaction" [ngStyle]="{ 'background-color': rowColor(i) }">
                <td style="padding-left:20px"><img src="/app/images/child_arrow.svg" style="width:20px;position:relative;top:-8px;left:-5px" />Cash Deposit</td>
                <td>{{reconcile.bankTransactionId}}</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong class="small">Bank Customer Ref:&nbsp;&nbsp;</strong>{{reconcile.bankCustomerRef}}</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong class="small">Bank Account Number:&nbsp;&nbsp;</strong>{{reconcile.accountNumber}}</td>
                <td></td>
                <td>{{reconcile.bankDate | momentUtc: 'format': 'MM/DD/YYYY'}}</td>
                <td>{{daysBetween(reconcile.dcrEntryDate, reconcile.bankDate)}}</td>
                <td>{{reconcile.bankDepositAmount | currency:'USD':true}}</td>
            </tr>
            <tr *ngIf="!reconcile.bankTransaction">
                <td colspan="7">&nbsp;</td>
            </tr>
        </ng-container>
    </table>
    <div *ngIf="type2==4" class="col-md-12">
        <other-transactions [data]="otherTransactions"></other-transactions>
    </div>
</div>
